.ProfileSide{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

@media (max-width:555px){
    .frnd{
        padding: 1rem 1rem;
    }
}