.mantine-Paper-root{
    background-color: var(--appbg);
}
.infoForm-edit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: var(--appbg);
}
.infoForm-edit>div{
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}
.infoForm-edit h3{
    color: var(--appcolor);
}
.infoInput-edit{
    background-color: var(--inputbg);
    color: var(--inputcolor);
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}
.imageInput{
    color: var(--appcolor);
}
svg{
    color: var(--appcolor);
}

@media (max-width:932px){
    .mantine-Paper-root{
        width: 70%;
    }
}
@media (max-width:733px){
    .mantine-Paper-root{
        width: 80%;
    }
}
@media (max-width:660px){
    .mantine-Paper-root{
        width: 90%;
    }
}
@media (max-width:590px){
    .mantine-Paper-root{
        width: 100%;
    }
}
@media (max-width:535px){
    .infoForm-edit>div{
        flex-wrap: wrap;
    }
    .infoForm-edit>div:nth-child(even){
        height: 7rem;
    }
}
